In [2]:
import pandas as pd

print(pd.__version__)

2.3.1

### Reading Datasets - Creating DataFrame

In [3]:
import pandas as pd

pd.read_csv("movies.csv")

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

#### Creating DataFrame

In [4]:
movies = pd.read_csv('movies.csv' , index_col = 'Title')

# movies = movies.set_index("Title")     SAME


movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

### Class

In [5]:
#CLASS

a = pd.read_csv("movies.csv")
print(type(a))

<class 'pandas.core.frame.DataFrame'>

#### Making TITLE as a Index Column

In [6]:

movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

- df.head()
- df.tail()
- df.describe()
- df.shape
- df[start : stop : step ]
- df[ ' column name ' ]
- df[ ' column name1 , col2 ,.... ' ]
- df[ ' column name1 , col2 ,.... ' ] [start : stop : step ]
- df.iterrows()
- loc & iloc

In [7]:
movies.head()

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018

In [8]:
movies.head(10)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018
Jurassic World                   6    Universal  $1,671.70   2015
Marvel's The Avengers            7  Buena Vista  $1,518.80   2012
Furious 7                        8    Universal  $1,516.00   2015
Avengers: Age of Ultron          9  Buena Vista  $1,405.40   2015
Black Panther                   10  Buena Vista  $1,346.90   2018

In [9]:
movies.tail(15)

                              Rank           Studio     Gross  Year
Title
Arrival                        768        Paramount  $203.40   2016
Need for Speed                 769      Buena Vista  $203.30   2014
Hairspray                      770         New Line  $202.50   2007
Ponyo                          771      Buena Vista  $202.40   2009
Patch Adams                    772        Universal  $202.30   1998
Fun with Dick and Jane         773             Sony  $202.00   2005
Teenage Mutant Ninja Turtles   774         New Line  $202.00   1990
Kindergarten Cop               775        Universal  $202.00   1990
Straight Outta Compton         776        Universal  $201.60   2015
21 Jump Street                 777             Sony  $201.60   2012
Yogi Bear                      778  Warner Brothers  $201.60   2010
Garfield: The Movie            779              Fox  $200.80   2004
Cats & Dogs                    780  Warner Brothers  $200.70   2001
The Hunt for Red October       781        Paramount  $200.50   1990
Valkyrie                       782              MGM  $200.30   2008

In [10]:
movies.describe()

             Rank         Year
count  782.000000   782.000000
mean   391.500000  2006.620205
std    225.888247    10.026227
min      1.000000  1939.000000
25%    196.250000  2001.000000
50%    391.500000  2009.000000
75%    586.750000  2014.000000
max    782.000000  2019.000000

In [11]:
len(movies)

782

In [12]:
movies.shape        # 4 because  we made Title as index column

(782, 4)

In [13]:
movies.size

3128

In [14]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

In [15]:
movies[0 : 10]

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018
Jurassic World                   6    Universal  $1,671.70   2015
Marvel's The Avengers            7  Buena Vista  $1,518.80   2012
Furious 7                        8    Universal  $1,516.00   2015
Avengers: Age of Ultron          9  Buena Vista  $1,405.40   2015
Black Panther                   10  Buena Vista  $1,346.90   2018

In [16]:
movies[1 : 10 : 2]

                              Rank       Studio       Gross  Year
Title
Avatar                           2          Fox  $2,789.70   2009
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Jurassic World                   6    Universal  $1,671.70   2015
Furious 7                        8    Universal  $1,516.00   2015
Black Panther                   10  Buena Vista  $1,346.90   2018

In [17]:
movies['Rank'][1 : 10 : 2]

Title
Avatar                           2
Star Wars: The Force Awakens     4
Jurassic World                   6
Furious 7                        8
Black Panther                   10
Name: Rank, dtype: int64

#### UNDERSTANDING LOC [ ] (stop index included)                                                      
#### ( all cannot be possible coz : we Indexed Title Column)

- data_frame.loc[ row_number]

- data_frame.loc[ row_number, [column_name,...]]

- data_frame.loc[ start: stop]

- data_frame.loc[ start: stop, "column_name"]

- data_frame.loc[ start: stop, ["column_1, column_2,... "]]

- data_frame.loc[ start: stop, "column_1": "column_n"]

In [18]:
movies.iloc[1]  # Displays 1st row  generally  LOC is used , but title is indexed so ILOC is used

Rank               2
Studio           Fox
Gross     $2,789.70
Year            2009
Name: Avatar, dtype: object

### without TITLE as INDEX

In [19]:
pd.read_csv('movies.csv')

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [20]:
movie = pd.read_csv('movies.csv')    

first_col_gross = movie.loc[1,['Gross']]
start_stop = movie.loc[0:3]         # Stop index included 
start_stop_col = movie.loc[0:3 , ['Year']]
start_stop_cols = movie.loc[0:3 ,['Year' , 'Studio']]
start_stop_col_to_col  = movie.loc[0:3 ,'Studio' : 'Year']     # studio column to Year column 


print('first_col_gross : \n' , first_col_gross)
print('\n start_stop : \n' , start_stop)
print('\n start_stop_col : \n' , start_stop_col)
print('\n start_stop_cols : \n' , start_stop_cols)
print('\n start_stop_col_to_col : \n' , start_stop_col_to_col)

first_col_gross :
 Gross    $2,789.70
Name: 1, dtype: object

 start_stop :
    Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015

 start_stop_col :
    Year
0  2019
1  2009
2  1997
3  2015

 start_stop_cols :
    Year       Studio
0  2019  Buena Vista
1  2009          Fox
2  1997    Paramount
3  2015  Buena Vista

 start_stop_col_to_col :
         Studio       Gross  Year
0  Buena Vista  $2,796.30   2019
1          Fox  $2,789.70   2009
2    Paramount  $2,187.50   1997
3  Buena Vista  $2,068.20   2015

In [21]:
movie.loc['Avatar']         # Here "Avatar" is inside a column, not the index.  displays ERROR

KeyError: 'Avatar'

In [ ]:
movie[movie["Title"] == "Avatar"]

#### UNDERSTANDING iLOC [ ] (stop index excluded)

- data_frame.iloc[ row_number,column_number] ----------------------> ( in LOC row num  - col name )

- data_frame.iloc[ row_start: row_stop, col_start: col_stop]

- data_frame.iloc[ start: stop, "column_number"]

- data_frame.iloc[ [row_1, row_2,...]]

- data_frame.iloc[:, [col_1, col_2,...]]

- data_frame.iloc[start: stop, [col_1, col_2,...]]

In [ ]:
print(movies)

In [ ]:
movies.loc[1]         # As TITLE Is Indexed so loc wont work  ERROR

In [ ]:
movies.iloc[1]

In [ ]:
row_num_col_num1 = movies.iloc[1,1]          # ( here 0 column is Rank not Title)  
row_num_col_num2 =  movies.iloc[0,3]

start_stop = movies.iloc[1:6]

row_start_row_stop_col_start_col_stop = movies.iloc[10:13 , 1:4]

start_stop_col_Num = movies.iloc[1:4 , 3]



print('\n row_num_col_num1 : \n' , row_num_col_num1)
print('\n row_num_col_num2 : \n' , row_num_col_num2)
print('\n start_stop  : \n' , start_stop)
print('\n row_start: row_stop, col_start: col_stop : \n' , row_start_row_stop_col_start_col_stop )
print()
print('\nstart_stop_col_Num : \n' , start_stop_col_Num)

In [ ]:
rows = movies.iloc[[4,5,6,11]]
print('\n rows : \n ' , rows)

start_stop_col_Nums = movies.iloc[0:3 ,[1,3]]
print('\nstart_stop_col_Nums : \n' , start_stop_col_Nums)

rows_cols = movies.iloc[[1,2,6 ], [1,2]]
print('\n rows_cols : \n ' , rows_cols)

columns = movies.iloc[:,[1,3]]
print('\n columns : \n ' , columns)

In [ ]:
movie.iloc[[1,2,6 ], [1,2]]      # For MOVIES 1 2 6 nums wont display coz Totle is INDEXED

### Sorting

- Data_frame.sort_values("column_name")

- Data_frame.sort_values("column_name", ascending=False)

- Data_frame.sort_values(["column_1","column_2"])

- Data_frame.sort_values(["column_1","column_2"], ascending=[0,1])

In [ ]:

print('Ascending : ' , movies.sort_values('Year'))

print('\nDecending : ' , movies.sort_values('Year' , ascending=False))

In [ ]:
print('Ascending : ' , movies.sort_values(by = 'Year').head(5))

print('\nDecending : ' , movies.sort_values(by= 'Year' , ascending=False).head(5))

#### Sorting By 2 Columns

In [ ]:
print( movies.sort_values(['Studio',  'Year' ] , ascending = [True, False]) .head(5))

#### Sort Using INDEX

In [ ]:
print(movies.sort_index().head(10))
print(movies.sort_index().tail(10))

In [ ]:
## DESCENDING

print(movies.sort_index(ascending=False).tail(10))

In [ ]:
print(movies["Studio"])

print('\n')
print(movies["Studio"].value_counts())

print('\n')
print(movies["Studio"].value_counts().head(2))

In [ ]:
print(type(movies['Studio']))

### Manipulating DataFrame

- ADDING COLUMN

   - Data_frame['new_col_name']=default_value

   - Data_frame['new_col_name']=Expression / Condition

- REMOVING COLUMN

    - Data_frame.drop(columns="column_name")

    - Data_frame.drop(columns="column_name", inplace=True)

In [ ]:
pd.read_csv('movies.csv')

In [ ]:
not_indexed = pd.read_csv('movies.csv') 
not_indexed['double_year'] = 0
print(not_indexed)

In [ ]:
not_indexed['double_year'] = not_indexed['Year'] + not_indexed['Year']
print(not_indexed)

#### Deleting

In [ ]:
not_indexed.drop(columns='Year')  # I alrrady deleted double_year , again i rewritten the code to YEAR

In [ ]:
not_indexed.drop(columns='Gross' , inplace=True)

In [ ]:
not_indexed

In [ ]:
# The original not_indexed remains unchanged.

# You must assign it if you want the change to persist

not_indexed.drop(columns='Year' , inplace=False)

### FILTERING

In [ ]:
print(movies["Studio"] == 'Warner Brothers')

In [ ]:
movies[movies["Studio"] == 'Warner Brothers']

In [ ]:
movies_by_Warner_Brothers = (movies["Studio"] == 'Warner Brothers')
movies_in_2015 = movies["Year"] == 2015

# Movies by Warner_Brothers in 2015

movies[movies_by_Warner_Brothers & movies_in_2015 ]

In [ ]:
movies[movies["Year"] < 1975]

In [ ]:
print( ' Mid 80s')

movies[movies["Year"].between(1980 , 1989)]

In [ ]:
movies.index

### Applying String Methods - We have to use str coz it is index data type

In [ ]:
has_dark = movies.index.str.lower().str.contains('dark')
movies[has_dark]

In [ ]:
movies.head(5)

##### We cant apply arithematic operations to Text formats , so We are Convertong text to Numerical

- Some characters (like $, ., ^, *) have special meanings in regex.

- In regex:

    - $ means “end of string”, not the dollar sign.

    - , is fine, but others like . or * can behave unexpectedly.

In [22]:
movies['Gross'].str.replace('$' , '' , regex=False).str.replace(',' , '' , regex=False)    # regex : regular expression - used to search data and match columns

Title
Avengers: Endgame               2796.30
Avatar                          2789.70
Titanic                         2187.50
Star Wars: The Force Awakens    2068.20
Avengers: Infinity War          2048.40
                                  ...
Yogi Bear                        201.60
Garfield: The Movie              200.80
Cats & Dogs                      200.70
The Hunt for Red October         200.50
Valkyrie                         200.30
Name: Gross, Length: 782, dtype: object

##### Still it is Displaying as Object  - Converting to Float

In [ ]:
movies['Gross'] = movies['Gross'].astype(str) \
    .str.replace('$', '', regex=False) \
    .str.replace(',', '', regex=False) \
    .astype(float)

#### Gross Column has not Updated to Float - We have to Update

In [ ]:
movies.dtypes

In [ ]:
movies['Gross'] = movies['Gross'].str.replace('$' , '' , regex=False).str.replace(',' , '' , regex=False).astype(float)    # regex : regular expression - used to search data and match columns

In [ ]:
movies.dtypes

## GroupBy  ( movies based on studio)

In [ ]:
movies['Gross'].mean()

In [ ]:
Studio = movies.groupby('Studio')

In [ ]:
movies['Studio'].value_counts()

In [ ]:
Studio.count()

In [ ]:
# Display all Columns

Studio.count().sort_values(by = 'Gross' , ascending=False)

In [ ]:
 #Display only Gross Column

Studio['Gross'].count().sort_values(ascending=False)

### Total Gross Per Studio

In [ ]:
Studio['Gross'].sum()

In [ ]:
Studio['Gross'].sum().sort_index()      # SORT ALPHABATICALY

In [ ]:
Studio['Gross'].sum().sort_values()      # SORT BY VALUES