In [2]:
import pandas as pd
import numpy as np

### Classes and Instances ( object )

In [3]:
pd.Series()          # series is class  ;  dtype is object

Series([], dtype: object)

### Populating the Series with Values

In [4]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

### Customizing the Series Index

In [5]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

# The two lines below are equivalent

pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [6]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# The two lines below are equivalent
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [7]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [8]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [9]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = "float")

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

### Creating a Series with Missing Values

In [11]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

### Create a Series from Python Objects

In [12]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [13]:
print(diet.values)
print(diet.index)
print(diet.size)
print(diet.shape)
print(diet.dtype)

[125 406 342]
Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')
3
(3,)
int64

In [14]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [15]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [16]:
my_set = {"Ricky", "Bobby"}

# pd.Series(my_set)   CAN'T PRINT COZ SETs are Un-Ordered , cant be a series

In [17]:
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [18]:
random_data = np.random.randint(1, 101, 10)
random_data

array([ 4, 14, 78, 92, 11,  8,  3, 70, 27, 40], dtype=int32)

In [19]:
pd.Series(random_data)

0     4
1    14
2    78
3    92
4    11
5     8
6     3
7    70
8    27
9    40
dtype: int32

 ### Retrieving the First and Last Rows

In [20]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [21]:
print(nums.head(3))
print(nums.head(n = 3))
print(nums.head())
print(nums.tail(6))
print(nums.tail())

0     0
1     5
2    10
dtype: int64
0     0
1     5
2    10
dtype: int64
0     0
1     5
2    10
3    15
4    20
dtype: int64
94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [22]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

### Mathematical Operations

#### 1. Statistical Operations

In [23]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [24]:
print(numbers.count())

5

In [25]:
print(numbers.sum())

15.0

In [26]:

print(numbers.sum(skipna = False))         # skipna stands for “skip NaN values”.

                                            # By default: skipna=True → ignores NaN values while summing.

                                            # If you set skipna=False:

                                            # If any NaN is present, the result will be NaN.

nan

In [27]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])

print(numbers.sum(min_count=4))               # enough non-NaN values: 4 so adds all

print(numbers.sum(min_count=6))          # only 3 valid numbers, need 6 ----> so NAN

15.0
nan

In [28]:
print(numbers.product())
print(numbers.product(skipna=False))

print(numbers.product(min_count=3))
print(numbers.product(min_count=6))

120.0
nan
120.0
nan

In [29]:
# CUMMILATIVE SUM

print(numbers.cumsum())

print()

print(numbers.cumsum(skipna=False))

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

#### Percentage Change

In [30]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])

numbers.pct_change()

#  0         NaN
#  1    1.000000  (2-1)/1 = 1.0    
#  2    0.500000  (3-2)/2 = 0.5
#  3    0.000000  (3-3)/3 = 0.0
#  4    0.333333  (4-3)/3 = 0.333333
#  5    0.250000  (5-4)/4 = 0.25

C:\Users\Abhii\AppData\Local\Temp\ipykernel_12036\1084561023.py:3: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

#### 'ffill' = forward fill NaNs before computing percentage change

In [31]:
import pandas as pd
import numpy as np

numbers = pd.Series([1, 2, 3, np.nan, 4, 5])  # F-FILL : 1 2 3 3  4 5 

print(numbers.pct_change(fill_method='ffill'))

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

C:\Users\Abhii\AppData\Local\Temp\ipykernel_12036\817921715.py:6: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  print(numbers.pct_change(fill_method='ffill'))

#### 'bfill' = backward fill NaNs before computing percentage change

In [32]:
import pandas as pd
import numpy as np

numbers = pd.Series([1, 2, 3, np.nan, 4, 5])         # B-FILL : 1 2 3 4 4 5
print(numbers.pct_change(fill_method='bfill'))

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

C:\Users\Abhii\AppData\Local\Temp\ipykernel_12036\2294956136.py:5: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  print(numbers.pct_change(fill_method='bfill'))

In [33]:
# NOTE

[1, 2, 3, np.nan, 4, 5]
[1, 2, 3, 3, 4, 5]

[1, np.nan, np.nan, np.nan, 4, 4]
[1, 1, 1, 1, 4, 4] # ffill
[1, 4, 4, 4, 4, 4] # bfill

[1, 4, 4, 4, 4, 4]

In [35]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### Arithmetic Operations

In [36]:
s1 = pd.Series([5, np.nan, 10], index=["A", "B", "C"])

In [37]:
s1

A     5.0
B     NaN
C    10.0
dtype: float64

In [38]:
print(s1+3)
print(s1-3)
print(s1*4)
print(s1%3)
print(s1//7)

A     8.0
B     NaN
C    13.0
dtype: float64
A    2.0
B    NaN
C    7.0
dtype: float64
A    20.0
B     NaN
C    40.0
dtype: float64
A    2.0
B    NaN
C    1.0
dtype: float64
A    0.0
B    NaN
C    1.0
dtype: float64

In [41]:
s1.add(3)
s1.sub(5)
s1.mul(4)
s1.divide(7)
s1.mod(4)
s1.floordiv(4)

A    1.0
B    NaN
C    2.0
dtype: float64

### Broadcasting Series

In [46]:
s1 = pd.Series([1, 2, 5], ['A', 'B', 'C'])
s2 = pd.Series([4, 5, 5], ['A', 'B', 'C'])

In [47]:
print(s1 + s2)

print(s1 == s2)
print(s1.eq(s2))

s1 != s2
s1.ne(s2)

A     5
B     7
C    10
dtype: int64
A    False
B    False
C     True
dtype: bool
A    False
B    False
C     True
dtype: bool

A     True
B     True
C    False
dtype: bool

In [48]:
# CREATINF A SERIES

s1 = pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"]
)

s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]
)

In [49]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

###  Passing the Series to Python's Built-In Functions

In [65]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan]
)

In [66]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [62]:
print('len \n' , len(cities))
print( '\n type \n' , type(cities))
print('\ndir \n ' , dir(cities))
print('\nlist \n ' , list(cities))
print('\n dictionary \n' , dict(cities))

len
 4

 type
 <class 'pandas.core.series.Series'>

dir
  ['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

list
  ['San Francisco', 'Los Angeles', 'Las Vegas', nan]

 dictionary
 {0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [63]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [ ]:
print("Las Vegas" in cities)  # False

print("Las Vegas" in cities.values) # True

False
True

In [80]:
print(2 in cities)
print(100 not in cities)

print("Paris" not in cities.values)

True
True
True

In [83]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

strength_levels = (100, 120, 90, 95, 110, 120)

heroes = pd.Series( data = strength_levels, index = superheroes )

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64