In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.Series()

Series([], dtype: object)

### Creating A Series Object

In [3]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
pd.Series(data = [1,2,3,4,5,6])  # Both are same

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

### Creating a Series

In [19]:
ice_cream = [

    'chocolate' ,
    'vanilla',
    'strawberry' , 
    'rum raisin'
]

days = ['monday' , 'wednesday' , 'friday' , 'saturday']

pd.Series(data = ice_cream , index = days)

monday        chocolate
wednesday       vanilla
friday       strawberry
saturday     rum raisin
dtype: object

In [16]:
bunch_of_bools = ['True' , 'False ', 'True']
pd.Series(bunch_of_bools)

0      True
1    False
2      True
dtype: object

In [20]:
stock_price = [123.45 , 140.20]
time_of_day = ['open' , 'close']
pd.Series(data = stock_price , index = time_of_day)

open     123.45
close    140.20
dtype: float64

In [21]:
random_num = [10,20,40,56,66,78,1,22,5,33,2,4,6]
pd.Series(random_num)

0     10
1     20
2     40
3     56
4     66
5     78
6      1
7     22
8      5
9     33
10     2
11     4
12     6
dtype: int64

In [22]:
random_num = [10,20,40,56,66,78,1,22,5,33,2,4,6]
pd.Series(random_num , dtype = np.float64)

0     10.0
1     20.0
2     40.0
3     56.0
4     66.0
5     78.0
6      1.0
7     22.0
8      5.0
9     33.0
10     2.0
11     4.0
12     6.0
dtype: float64

### Missing Values

In [ ]:
temperatures = [ 30.5 , 32.0 , np.nan , 31.2]    # np.nan = not a num ( missing value )
pd.Series(temperatures)

0    30.5
1    32.0
2     NaN
3    31.2
dtype: float64

In [29]:
calories = { 
              'biriyani' : 1000 , 
              'pizza' : 800, 
              'burger' : 500, 
              'pasta' : 600,
            }
diet = pd.Series(calories)
diet

biriyani    1000
pizza        800
burger       500
pasta        600
dtype: int64

In [30]:
diet.values

array([1000,  800,  500,  600])

In [34]:
diet.index

Index(['biriyani', 'pizza', 'burger', 'pasta'], dtype='object')

In [35]:
diet.size

4

In [36]:
diet.shape

(4,)

In [37]:
diet.dtype

dtype('int64')

In [ ]:
diet.is_unique   # NO Duplicate Values

True