In [1]:
import numpy as np
import pandas as pd

In [2]:
nfl = pd.read_csv('nfl.csv',parse_dates=['Birthday'])

nfl.head()

             Name                  Team Position   Birthday   Salary
0    Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1  Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2     Adam Butler  New England Patriots       DT 1994-04-12   645000
3     Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4       Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000

In [3]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1655 entries, 0 to 1654
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      1655 non-null   object
 1   Team      1655 non-null   object
 2   Position  1655 non-null   object
 3   Birthday  1655 non-null   datetime64[ns]
 4   Salary    1655 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 64.8+ KB

In [4]:
nfl['Team'] = nfl['Team'].astype('category')

In [5]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1655 entries, 0 to 1654
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      1655 non-null   object
 1   Team      1655 non-null   category
 2   Position  1655 non-null   object
 3   Birthday  1655 non-null   datetime64[ns]
 4   Salary    1655 non-null   int64
dtypes: category(1), datetime64[ns](1), int64(1), object(2)
memory usage: 54.8+ KB

In [6]:
nfl['Team'].value_counts()

Team
New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
San Francisco 49Ers     55
New Orleans Saints      55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Dallas Cowboys          53
Seattle Seahawks        53
Atlanta Falcons         53
Buffalo Bills           53
Chicago Bears           53
Detroit Lions           53
New York Giants         52
Houston Texans          52
Los Angeles Rams        52
Philadelphia Eagles     52
Oakland Raiders         51
Arizona Cardinals       51
Green Bay Packers       51
Cincinnati Bengals      51
Jacksonville Jaguars    50
Carolina Panthers       49
New England Patriots    49
Indianapolis Colts      49
Cleveland Browns        49
Miami Dolphins          49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: count, dtype: int64